.ipynb_checkpoints/

Comparisons/

ELifeTXTs/

Figures/

FitData/ComparePaxVersions/
FitData/FromQing/
FitData/Before_170407/
FitData/README
FitData/DeletedLifetimesRn.txt
FitData/ElectronLifetimeData_SingleScatter_ForV2Fitting_FAKE.txt
FitData/ElectronLifetimeDataWithRn_Gauss.txt
FitData/ElectronLifetimeDataWithRn_GaussROOT.txt
FitData/ElectronLifetimeDataWithRn_GaussROOT2.txt
FitData/ElectronLifetimeDataWithRn_GaussROOT3.txt

Filelists/

JobSubmit/

Lists/

MCMC_Results/Figures/
MCMC_Results/Pickles/

ModelLaTeX.txt

Notebooks/

old/

ProcessingList/

PythonCode/
PythonCodeV2/
PythonCodeV3/
PythonCodeV4/
PythonCodeV5/
PythonCodeV6/
PythonCodeKr83/
PythonCodeXe131m/

PythonCodeELMCMC/__pycache__/
